<div class="page-header">
  <h2>
    <%= @poll.title %>
    <% if @poll.most_voted_question %>
      <span id="most-votes" class="small pull-right">
        most votes: &ldquo;<%= @poll.most_voted_question.name %>&rdquo;
        with <%= @poll.most_voted_question.votes %>
      </span>
    <% end %>
  </h2>
</div>

<% if already_voted?(@poll) %>
  <div id="already-voted" class="alert alert-info">You have already voted</div>
<% end %>

<% if flash[:poll_share_info] %>
  <div class="alert alert-info">
    <%= flash[:poll_share_info][:msg] %>
    <input type="text" readonly="readonly" value="<%= flash[:poll_share_info][:url] %>" class="copyable" />
  </div>
<% end %>

<div id="poll" class="list-group">
  <% @poll.questions.each do |question| %>
    <%= link_to poll_vote_path(@poll, question),
      method: :put, class: 'question list-group-item' do %>

      <%= question.name %>
      <span class="votes badge"><%= question.votes %></span>

    <% end %>
  <% end %>
</div>

