<!DOCTYPE html>
<html>
<head>
  <title>Quickvote</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="login small pull-right">
    <% if user_signed_in? %>
      <%= current_user.email %> | <%= link_to 'log out', destroy_user_session_path %>
    <% else %>
      <%= link_to 'Log in using Google', user_omniauth_authorize_path(:google_oauth2) %>
    <% end %>
  </div>

  <% if flash[:alert] %>
    <div class="clearfix"></div>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= yield %>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
